<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yamibo.main.yamiboandroid">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.Yamibo">
        <activity
            android:name=".main.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:configChanges="orientation"
            android:label="Login"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="login"
                    android:scheme="ymb" />
            </intent-filter>
        </activity>
        <activity
            android:name=".web.WebActivity"
            android:configChanges="orientation"
            android:label="web"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="web"
                    android:scheme="ymb" />
            </intent-filter>
        </activity>
        <activity
            android:name=".message.MessageActivity"
            android:configChanges="orientation"
            android:label="Message"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="message"
                    android:scheme="ymb" />
            </intent-filter>
        </activity>
        <activity
            android:name=".message.PrivateMsgTalkActivity"
            android:configChanges="orientation"
            android:label="Message"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="msgpritalk"
                    android:scheme="ymb" />
            </intent-filter>
        </activity>
        <activity
            android:name=".message.PublicMsgTalkActivity"
            android:configChanges="orientation"
            android:label="Message"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="msgpubtalk"
                    android:scheme="ymb" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settting.SettingActivity"
            android:configChanges="orientation"
            android:label="setting"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="setting"
                    android:scheme="ymb" />
            </intent-filter>
        </activity>
        <activity
            android:name=".location.LocationActivity"
            android:configChanges="orientation"
            android:label="location"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="location"
                    android:scheme="ymb" />
            </intent-filter>
        </activity>
        <activity
            android:name=".debug.DebugActivity"
            android:configChanges="orientation"
            android:label="debug"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="debug"
                    android:scheme="ymb" />
            </intent-filter>
        </activity>
        <activity
            android:name=".debug.debugLocationActivity"
            android:label="@string/title_activity_debug_location"
            android:parentActivityName=".main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="debugLocation"
                    android:scheme="ymb" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settting.DeveloperActivity"
            android:label="@string/title_developer"
            android:parentActivityName=".main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="developer"
                    android:scheme="ymb" />
            </intent-filter>
        </activity>

    </application>

</manifest>
